$primary-color: #1B98A6;
$secondary-color: #A63F5A;
$third-color: #243E73;
$fourth-color: #8CF2F2;
$fifth-color: #30591D;

$text-color: #243E73;

$border-radius-standard: 3px;

@mixin border-none-3px-padding() {
  border: none;
  border-radius: $border-radius-standard;
  padding: 3px 9px 3px 9px;
}

body {
  background-color: $primary-color;
  font-family: sans-serif;
  margin: 2.5rem 0 0 2.5rem;
}

.addItemWrapper {
  color: $text-color;
  display: inline;
  position: relative;
  input {
    margin-right: 1rem;
    position: absolute;
  }
  button {
    position: absolute;
    right: -280px;
    top: 0;
  }
}

.button {
  @include border-none-3px-padding();
  background-color: $fourth-color;
  &:hover {
    background-color: $third-color;
    color: $fourth-color;
  }
}

.input {
  @include border-none-3px-padding();
}

.headline {
  color: $text-color;
}