$primary-color: #1B98A6;
$text-color: #243E73;

body {
  background-color: $primary-color;
  margin: 2.5rem 0 0 2.5rem;
}

.addItemWrapper {
  color: $text-color;
  display: inline;
  position: relative;
  input {
    margin-right: 1rem;
    position: absolute;
  }
  button {
    position: absolute;
    right: -255px;
    top: 0;
  }
}

.headline {
  color: $text-color;
}