$primary-color: #2A81BF;

body {
  background-color: $primary-color;
  margin: 2.5rem 0 0 2.5rem;
}

.addItemWrapper {
  display: inline;
  position: relative;
  input {
    margin-right: 1rem;
    position: absolute;
  }
  button {
    position: absolute;
    right: -255px;
    top: 0;
  }
}