@import 'animations';
@import 'mixins';
@import 'variables';

body {
  background-color: $primary-color;
  font-family: sans-serif;
  margin: 2.5rem 0 0 2.5rem;
}

ul {
  width: 100px;
  li {
    p {
      list-style: square inside none;
    }
    ul {
      list-style: none inside none;
      li {
        border-bottom: 1px solid black;
        &:hover {
          cursor: pointer;
        }
      }
      li:last-child {
        border: none;
      }
    }
  }
}

.addItemWrapper {
  color: $third-color;
  display: inline;
  position: relative;
  input {
    margin-right: 1rem;
    position: absolute;
  }
  button {
    position: absolute;
    right: -280px;
    top: 0;
  }
}

.button {
  @include border-none_small-radius_small-padding();
  background-color: $fourth-color;
  &:hover {
    background-color: $third-color;
    color: $fourth-color;
  }
}

.completed-item {
  color: #008CA6;
}

.input {
  @include border-none_small-radius_small-padding();
}

.headline {
  color: $third-color;
}