@import 'variables';
@import 'mixins';

body {
  background-color: $primary-color;
  font-family: sans-serif;
  margin: 2.5rem 0 0 2.5rem;
}

.addItemWrapper {
  color: $text-color;
  display: inline;
  position: relative;
  input {
    margin-right: 1rem;
    position: absolute;
  }
  button {
    position: absolute;
    right: -280px;
    top: 0;
  }
}

.button {
  @include border-none_small-radius_small-padding();
  background-color: $fourth-color;
  &:hover {
    background-color: $third-color;
    color: $fourth-color;
  }
}

.input {
  @include border-none_small-radius_small-padding();
}

.headline {
  color: $text-color;
}

.strikethrough {
  text-decoration: line-through;
}